<div class="center jumbotron">
  <h1> ALPHA BLOG </h1>
  <%= link_to "Sign Up", signup_path, class: "btn btn-warning btn-lg btn-xlarge" %>
  
</div>

<p>
  
MYDEARTEACHER
豐富生活的英文體驗
​MDT提供小班制討論課程與生活體驗，
學員可以在喜歡的主題中自然地使用英文。
我們相信英文是座橋梁，走過了就是更寬廣的世界。
完整課表請見連結。

</p>

<%= link_to "Alpha Blog", articles_path %> | <%= link_to 'About', about_path %>